* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

body {
font-family: Arial, sans-serif;
background: #f5f5f5;
color: #222;
}

/* HEADER */

header {
width: 100%;
background: #111;
color: white;
padding: 20px 60px;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-size: 24px;
font-weight: bold;
}

nav {
display: flex;
gap: 25px;
}

nav a {
color: white;
text-decoration: none;
}

nav a:hover {
opacity: 0.7;
}

.login {
font-weight: bold;
}

/* CARRITO */

.carrito-link {
font-weight: bold;
}

#contador-carrito {
display: inline-flex;
align-items: center;
justify-content: center;
min-width: 22px;
height: 22px;
padding: 0 6px;
margin-left: 4px;
background: white;
color: #111;
border-radius: 50px;
font-size: 13px;
font-weight: bold;
}

/* HERO */

.hero {
background: white;
padding: 80px 20px;
text-align: center;
}

.hero h1 {
max-width: 800px;
margin: 0 auto 20px auto;
font-size: 42px;
line-height: 1.15;
}

.hero p {
max-width: 650px;
margin: 0 auto 30px auto;
color: #666;
font-size: 18px;
line-height: 1.6;
}

/* BUSCADOR */

.search {
display: flex;
justify-content: center;
max-width: 600px;
margin: auto;
}

.search input {
flex: 1;
padding: 14px;
border: 1px solid #ccc;
border-radius: 8px 0 0 8px;
font-size: 16px;
}

.search button {
padding: 14px 25px;
border: none;
background: #111;
color: white;
border-radius: 0 8px 8px 0;
cursor: pointer;
}

/* SECCIÓN ÁLBUMES */

section {
padding: 60px;
}

.section-title {
